#app-container{
    background: url('./images/bazaar2.jpg');
  
    /* Add the blur effect */
    
    /* Full height */
    height: 100%;
    width: 100%;
    z-index: -5;
    border-radius: 0;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
a:hover{
    text-decoration: none;
}
a{
    text-decoration: none;
}
